<%= bootstrap_form_tag(url: user_profile_path(current_user), method: :put) do |f| %>

  <%= f.alert_message "Please review the problems below:" %>

  <%= f.text_field "profile[user[first_name]]",
                   value: @profile.user.first_name,
                   id: "profile_user_first_name",
                   label: "First name" %>

 <%= f.text_field "profile[user[last_name]]",
                  value: @profile.user.last_name,
                  id: "profile_user_last_name",
                  label: "Last name" %>

  <%= f.text_field "profile[nickname]",
                   value: @profile.nickname,
                   id: "profile_nickname",
                   label: "Nickname",
                   help: "Unique. Reserved for future use on menadevs.com" %>

  <%= f.text_area "profile[biography]",
                  rows: 5,
                  value: @profile.biography,
                  label: "Biography" %>

  <div class="form-group">
    <label class="control-label" for="profile_location">Location</label>
    <%= f.country_select("profile[location]",
                         [@profile.location_name],
                         { include_blank: 'Select' },
                         { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.time_zone_select("profile[user[time_zone]]",
                         [display_time_zone(@profile.user.try(:time_zone))],
                         selected: true,
                         class: 'form-control',
                         label: 'Time Zone') %>
  </div>

  <%= f.check_box "profile[receive_emails]",
                  value: @profile.receive_emails,
                  label: "Receive email from MENAdevs?",
                  checked: @profile.receive_emails %>

  <%= f.check_box "profile[receive_job_alerts]",
                  value: @profile.receive_job_alerts,
                  label: "Receive jobs alerts via MENAdevs?",
                  checked: @profile.receive_job_alerts %>

  <%= f.select "profile[privacy_level]",
                Profile.privacy_options,
                :selected => @profile.privacy_level,
                label: "Select your profile's privacy level",
                help: 'Hidden: no one can see your profile. Members only: Only members of menadevs.com can see your profile. Open: Publicly viewable' %>

  <%= f.primary 'Update profile' %>
  <%= link_to "Cancel", user_profile_path(current_user), :class => "btn btn-link" %>

<% end %>
