<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="row clearfix">

        <div class="col-sm-9">

          <div class="row clearfix">
            <div class="col-md-2">
              <%= image_tag(@profile.avatar.url(:thumb), class: 'aligncenter img-thumbnail notopmargin nobottommargin', style: 'max-width: 100px;') %>
            </div>

            <div class="col-sm-10">
              <div class="heading-block noborder">
                <h3><%= name(@profile) %></h3>

                <blockquote class="quote">
    							<p><%= biography(@profile) %></p>
    						</blockquote>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <!-- Work experience begins -->
              <div class="fancy-title title-bottom-border">
  							<h4>Professional</h4>
  						</div>

              <table class="table borderless">
                <tbody>
                  <% unless @profile.company_name.blank? %>
                    <tr>
                      <th width='25%'>Company</th>
                      <td><%= @profile.company_name %></td>
                    </tr>
                  <% end %>
                  <% unless @profile.title.blank? %>
                    <tr>
                      <th>Title</th>
                      <td><%= @profile.title %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <!-- Work experience ends -->

              <br/>

              <!--  Contact details begins -->
              <div class="fancy-title title-bottom-border">
                <h4>Contact details</h4>
              </div>

              <table class="table borderless">
                <tbody>
                  <tr>
                    <th width='25%'>Email address</th>
                    <td>
                      <% if current_user %>
                        <%= link_to email(@profile), "mailto:#{email(@profile)}" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td><%= @profile.location_name %></td>
                  </tr>
                  <% unless @profile.twitter_handle.blank? %>
                    <tr>
                      <th>Twitter</th>
                      <td><%= link_to("twitter.com/#{@profile.twitter_handle}", "https://twitter.com/#{@profile.twitter_handle}", target: '_blank') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <!--  Contact details ends -->

              <br/>

              <% unless @profile.active_interests.blank? %>
                <!-- Open for begins -->
                <div class="fancy-title title-bottom-border">
                  <h4>Interested in</h4>
                </div>

                <div class="row">
                  <div class="col-md-12 interests-listing">
                    <% @profile.active_interests.each do |k, v| %>
                      <p><%= fa_icon('check-square-o') %> <%= k.humanize.capitalize %></p>
                    <% end %>
                  </div>
                </div>
                <!-- Open for ends -->
              <% end %>
            </div>

          </div>

        </div>

        <div class="line visible-xs-block"></div>

        <div class="col-sm-3 clearfix">

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Account settings</h3>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <%= link_to edit_user_profile_path(@profile.user) do %>
                    Edit
                    <%= fa_icon("user", class: "pull-right") %>
                  <% end %>

                  <hr/>

                  <%= link_to directory_user_path(@profile.user) do %>
                    Preview
                    <%= fa_icon("eye", class: "pull-right") %>
                  <% end %>

                  <hr/>

                  <%= link_to new_user_password_path(@profile.user) do %>
                    Change Password
                    <%= fa_icon("laptop", class: "pull-right") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Profile settings</h3>
            </div>

            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <p><strong>Privacy level is: </strong> &nbsp; <%= privacy_info_icon(@profile) %></p>

                  <%= privacy_info_message(@profile) %>
                </div>
              </div>


              <hr/>

              <div class="row">

                <div class="col-md-12">
                  <p><strong>Email notifications:</strong></p>

                  <p><strong>Events & marketing:</strong> <%= notification_message(@profile.receive_emails) %></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <p><strong>Job alerts:</strong> <%= notification_message(@profile.receive_job_alerts) %></p>
                </div>
              </div>

            </div>
          </div>


      </div>

    </div>

  </div>

</section>
<!-- #content end -->
