<% provide(:title) do %>
  <div class="row">
    <div class="col-md-10">
      My profile
    </div>
    <div class="col-md-2">
      <%= link_to "Preview your profile", directory_user_path(current_user), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag(@profile.profile_picture, class: 'img-thumbnail') %>
  </div>
  <div class="col-md-10">
    <table class="table">
      <tbody>
        <tr>
          <th class="col-sm-4">Full Name</th>
          <td><%= @profile.user.name.titleize %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Nickname</th>
          <td><%= @profile.nickname %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Biography</th>
          <td><%= @profile.biography %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Email</th>
          <td><%= @profile.user.email %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Location</th>
          <td><%= @profile.location_name %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Time Zone</th>
          <td><%= @profile.user.time_zone %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Receive emails from MENA Devs?</th>
          <td>
            <div>
              <% if @profile.receive_emails? %>
                <%= fa_icon("check") %>
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Receive job alerts?</th>
          <td>
            <div>
              <% if @profile.receive_job_alerts %>
                <%= fa_icon("check") %>
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Connected via Slack login</th>
          <td>
            <div>
              <% if @profile.user.connected_via_slack? %>
                <%= fa_icon("check") %>
                Enabled
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Account privacy</th>
          <td>
            <div>
              <% privacy_level_string =  Profile.privacy_options.key(@profile.privacy_level) %>
              <% if privacy_level_string == "Hidden" %>
                <%= fa_icon("minus-circle") + " " + privacy_level_string %>
              <% elsif privacy_level_string == "Members only" %>
                <%= fa_icon("adjust") + " " + privacy_level_string %>
              <% elsif privacy_level_string == "Open" %>
                <%= fa_icon("globe") + " " + privacy_level_string %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <%= link_to "Update profile details & preferences", edit_user_profile_path(current_user), :class => "btn btn-success" %>
        <%= link_to "Update password", new_user_password_path(current_user), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
