<% provide(:title) do %>
  <div class="row">
    <div class="col-md-12">
      My profile
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag(@profile.profile_picture, class: 'img-thumbnail') %>
  </div>
  <div class="col-sm-10">

    <div class="row profile-buttons">
      <div class="col-sm-8">
        <%= link_to raw("<i class='fa fa-pencil'></i> Edit profile"), edit_user_profile_path(current_user), :class => "btn btn-default custom-btn-1" %>
        <%= link_to raw("<i class='fa fa-lock'></i> Change password"), new_user_password_path(current_user), :class => "btn btn-danger" %>
      </div>

      <div class="col-sm-4">
        <%= link_to raw("<i class='fa fa-user-circle profile-icon'></i> Preview"), directory_user_path(current_user), :class => "btn btn-default custom-btn-1 pull-right" %>
      </div>

    </div>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="col-sm-4">Full Name</th>
          <td><%= @profile.user.name.titleize %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Nickname</th>
          <td><%= @profile.nickname %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Biography</th>
          <td><%= @profile.biography %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Email</th>
          <td><%= @profile.user.email %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Location</th>
          <td><%= @profile.location_name %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Time Zone</th>
          <td><%= @profile.user.time_zone %></td>
        </tr>
        <tr>
          <th class="col-sm-4">Receive emails from MENAdevs?</th>
          <td>
            <div>
              <% if @profile.receive_emails? %>
                <%= fa_icon("check") %>
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Receive job alerts?</th>
          <td>
            <div>
              <% if @profile.receive_job_alerts %>
                <%= fa_icon("check") %>
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Connected via Slack login</th>
          <td>
            <div>
              <% if @profile.user.connected_via_slack? %>
                <%= fa_icon("check") %>
                Enabled
              <% else %>
                <%= fa_icon("close") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-sm-4">Account privacy</th>
          <td>
            <div>
              <% privacy_level_string =  Profile.privacy_options.key(@profile.privacy_level) %>
              <% if privacy_level_string == "Hidden" %>
                <%= fa_icon("minus-circle") + " " + privacy_level_string %>
              <% elsif privacy_level_string == "Members only" %>
                <%= fa_icon("adjust") + " " + privacy_level_string %>
              <% elsif privacy_level_string == "Open" %>
                <%= fa_icon("globe") + " " + privacy_level_string %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
