<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render('devise/shared/error_messages') %>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% unless Rails.env.test? %>
    <br/>
    <div class="g-recaptcha" data-callback="correctCaptcha" data-sitekey="<%= AppSettings.recaptcha_client_key %>"></div>
    <br/>
  <% end %>

  <div class="actions center">
    <%= f.submit "Join us", :class => "button button-3d button button-rounded button-green" %>
  </div>
<% end %>

<% unless Rails.env.test? %>
  <script>
    $("#new_user").each(function() {
      $(this).find(':input[type="submit"]').prop('disabled', true);
    });
    function correctCaptcha() {
      $("#new_user").each(function() {
        $(this).find(':input[type="submit"]').prop('disabled', false);
      });
    }
  </script>
<% end %>