<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-12 col-xs-12">
        <h1>Members Directory</h1>

        <div class="btn-toolbar directory-padding">
          <div class="btn-group">
            <%= link_to(directory_users_path) do %>
              <% if params.has_key?(:name) %>
                <% turn_on_button = false %>
              <% else %>
                <% turn_on_button = true %>
              <% end %>
              <%= content_tag(:button, class: button_style(turn_on_button)) do %>
                ALL
              <% end %>
            <% end %>

            <%= directory_letters(params[:name]) %>

            <div>
              <h4 class="filter-title">Filter all members by</h4>
              <%= link_to(directory_users_path(state: 'new_role')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'new_role')) do %>
                  Looking for a new role
                <% end %>
              <% end %>

              <%= link_to(directory_users_path(state: 'freelance')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'freelance')) do %>
                  Available for freelance
                <% end %>
              <% end %>

              <%= link_to(directory_users_path(state: 'mentor')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'mentor')) do %>
                  Available to mentor
                <% end %>
              <% end %>

              <%= link_to(directory_users_path(state: 'mentee')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'mentee')) do %>
                  Looking for a mentor
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
			</div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <% if @users.blank? %>

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="icon-warning-sign"></i>There are no MENAdevs public members found
        </div>

      <% else %>
        <%= render(partial: "list_profiles", locals: {users: @users}) %>

        <div class="text-center">
          <%= paginate @users %>
        </div>
      <% end %>
    </div>
  </div>
</section>