<% provide(:title, "Directory") %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <% @users.each do |user| %>
          <% if visible_profile?(user) %>
            <tr>
              <td width='5%'>
                <%= image_tag(user.profile.avatar.url(:thumb), size: '50x50', class: 'img-thumbnail') %>
              </td>
              <td>
                <%= link_to directory_user_path(user) do %>
                  <%= user.name %>
                  <% if user_signed_in? && current_user == user %>
                    <div class="btn btn-xs btn-primary">
                      <%= fa_icon("check") %>
                      me
                    </div>
                  <% end %>
                <% end %>
                <br/>
                <small><%= user.profile.biography %></small>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @users %>
