<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="fancy-title title-dotted-border title-center">
        <h2><%= name(@user.profile) %></h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="text-center">
            <%= image_tag(@user.profile.avatar.url(:thumb), class: 'aligncenter img-thumbnail notopmargin nobottommargin', style: 'max-width: 100px;') %>
          </div>
        </div>

        <div class="col-md-8">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Biography</h4>
                <span>
                  <% if !@user.profile.biography.blank? %>
                    <%= biography(@user.profile) %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="fancy-title title-dotted-border title-center">
        <h2>Personal Details</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="team team-list clearfix profile-content-padding">
            <div class="team-desc">
              <div class="team-title">
                <h4>Email</h4>
                <span>
                  <%# fa_icon('envelope') %> <%# link_to(@user.email, "mailto:#{@user.email}") %>
                  Private
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Location</h4>
                <span>
                  <% if !@user.profile.location.blank? %>
                    <%= location(@user.profile) %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Timezone</h4>
                <span>
                  <%= display_time_zone(@user.profile.try(:time_zone)) %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="fancy-title title-dotted-border title-center">
        <h2>Professional Experience and Interests</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="team team-list clearfix profile-content-padding">
            <div class="team-desc">
              <div class="team-title">
                <h4>Title</h4>
                <span>
                  <% if @user.profile.title %>
                    <%= @user.profile.title.titleize %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Company</h4>
                <span>
                  <% if @user.profile.company_name %>
                    <%= @user.profile.company_name.titleize %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% unless @user.profile.active_interests.blank? %>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="team team-list clearfix profile-content-padding">
              <div class="team-desc">
                <div class="team-title">
                  <h4>I am looking for</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Looking for begins -->
          <% @user.profile.active_interests.each do |k, v| %>
            <div class="col-md-4">
              <div class="profile-padding">
  							<input id="checkbox-10" class="checkbox-style" name="checkbox-10" checked="" type="checkbox">&nbsp;
  							<span class="checkbox-style-3-label"><%= k.humanize.capitalize %></span>
  						</div>
            </div>
          <% end %>
          <!-- Looking for ends -->
        </div>
      <% end %>

      <br/>
      <br/>

      <% unless @user.profile.twitter_handle.blank? %>

        <div class="fancy-title title-dotted-border title-center">
          <h2>Social Media</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="team team-list clearfix profile-content-padding">
              <div class="team-desc">
                <div class="team-title">
                  <h4>Twitter</h4>
                  <span>
                    <%= fa_icon('twitter') %> <%= link_to(@user.profile.twitter_handle, "https://twitter.com/#{@user.profile.twitter_handle}", target: "_blank") %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>

      <% end %>

    </div>
  </div>
</section>
