<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="fancy-title title-dotted-border title-center">
        <h2><%= name(@user.profile) %></h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="text-center">
            <%= image_tag(@user.profile.avatar.url(:thumb), class: 'aligncenter img-thumbnail notopmargin nobottommargin', style: 'max-width: 100px;') %>
          </div>
        </div>

        <div class="col-md-8">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Biography</h4>
                <span>
                  <% if !@user.profile.biography.blank? %>
                    <%= biography(@user.profile) %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="fancy-title title-dotted-border title-center">
        <h2>Personal Details</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="team team-list clearfix profile-content-padding">
            <div class="team-desc">
              <div class="team-title">
                <h4>Email</h4>
                <span>
                  <% if user_signed_in? and (current_user.email == @user.email or current_user.admin?) %>
                    <%= fa_icon('envelope') %> <%= link_to(@user.email, "mailto:#{@user.email}") %>
                  <% else %>
                    Private
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Location</h4>
                <span>
                  <% if !@user.profile.location.blank? %>
                    <%= location(@user.profile) %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Timezone</h4>
                <span>
                  <%= display_time_zone(@user.profile.try(:time_zone)) %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="fancy-title title-dotted-border title-center">
        <h2>Professional Experience and Interests</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="team team-list clearfix profile-content-padding">
            <div class="team-desc">
              <div class="team-title">
                <h4>Title</h4>
                <span>
                  <% if @user.profile.title %>
                    <%= @user.profile.title.titleize %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="team team-list clearfix">
            <div class="team-desc">
              <div class="team-title">
                <h4>Company</h4>
                <span>
                  <% if @user.profile.company_name %>
                    <%= @user.profile.company_name.titleize %>
                  <% else %>
                    Not set
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% unless @user.profile.active_interests.blank? %>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="team team-list clearfix profile-content-padding">
              <div class="team-desc">
                <div class="team-title">
                  <h4>I am looking for</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Looking for begins -->
          <% @user.profile.active_interests.each do |k, v| %>
            <div class="col-md-4">
              <div class="profile-padding">
  							<input id="checkbox-10" class="checkbox-style" name="checkbox-10" checked="" type="checkbox">&nbsp;
  							<span class="checkbox-style-3-label"><%= k.humanize.capitalize %></span>
  						</div>
            </div>
          <% end %>
          <!-- Looking for ends -->
        </div>

        <br/>
        <br/>
      <% end %>

      <% unless @user.profile.twitter_handle.blank? %>

        <div class="fancy-title title-dotted-border title-center">
          <h2>Social Media</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="team team-list clearfix profile-content-padding">
              <div class="team-desc">
                <div class="team-title">
                  <h4>Twitter</h4>
                  <span>
                    <%= fa_icon('twitter') %> <%= link_to(@user.profile.twitter_handle, "https://twitter.com/#{@user.profile.twitter_handle}", target: "_blank") %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <br/>
      <% end %>

      <% if authorised_admin? %>

        <div class="alert alert-info" role="alert">
          <h4>Details for Admins</h4>

          <div class="row">
            <div class="col-md-2">
              Active
            </div>
            <div class="col-md-10">
              <%= @user.active %>
            </div>

            <div class="col-md-2">
              Profile complete?
            </div>
            <div class="col-md-10">
              <%= @user.profile.complete? %>
            </div>

            <div class="col-md-2">
              Created at
            </div>
            <div class="col-md-10">
              <%= @user.created_at %> (<%= time_ago_in_words(@user.created_at) %>)
            </div>

            <div class="col-md-2">
              Confirmed at
            </div>
            <div class="col-md-10">
              <%= @user.confirmed_at %> (<%= time_ago_in_words(@user.confirmed_at) %>)
            </div>

            <div class="col-md-2">
              Updated at
            </div>
            <div class="col-md-10">
              <%= @user.updated_at %> (<%= time_ago_in_words(@user.updated_at) %>)
            </div>

            <div class="col-md-2">
              Last signed in
            </div>
            <div class="col-md-10">
              <% if @user.last_sign_in_at %>
                <%= @user.last_sign_in_at %> (<%= time_ago_in_words(@user.last_sign_in_at) %>)
              <% end %>
            </div>

            <div class="col-md-2">
              Sign in count
            </div>
            <div class="col-md-10">
              <%= @user.sign_in_count %>
            </div>


            <div class="col-md-2">
              Last sign in IP
            </div>
            <div class="col-md-10">
              <%= @user.last_sign_in_ip %>
            </div>

            <div class="col-md-2">
              Provider
            </div>
            <div class="col-md-10">
              <%= @user.provider %>
            </div>

            <div class="col-md-2">
              Time zone
            </div>
            <div class="col-md-10">
              <%= @user.time_zone %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
