<tr class="cart_item">
  <td>
    <%= boolean_icon(admin_job.approved?) %>
  </td>

  <td>
    <%= link_to admin_job.title, admin_job, class: 'link' %>
  </td>

  <td>
    <%= admin_job.company_name %>
  </td>

  <td>
    <%= job_creator_name(admin_job) %>
  </td>

  <td>
    <%= time_ago_in_words(admin_job.created_at) %>
  </td>

  <td>
    <%= admin_job.job_statistics.try(:count) %>
  </td>

  <td>
    <% if (user_signed_in? && current_user.admin?) %>
      <% if admin_job.draft? || admin_job.under_review? %>
        <%= link_to("Edit Job", edit_job_path(admin_job), :class => "button button-3d button-mini button-rounded button-blue") %>
      <% end %>
      <% if admin_job.draft? || admin_job.disabled? %>
        <%= link_to "Delete Job", job_path(admin_job), method: :delete, class: "button button-3d button-mini button-rounded button-red" %>
      <% end %>
    <% end %>
  </td>
</tr>
