<%= bootstrap_form_for(@job, inline_errors: true) do |f| %>

  <%= f.alert_message "Please review the problems below:" %>

  <div class="row job-form-buttons">
    <div class="col-md-12">
      <%# f.submit "Save and continue", class: "button button-3d button button-rounded button-green pull-right" %>
    </div>  <!-- /.col-md-12 -->
  </div>  <!-- /.job-form-buttons -->

  <%= f.text_field :title, label: 'Job title', help: 'Only job title without seniority or location (i.e. Full Stack Developer)' %>
  <%= f.text_field :external_link, label: 'URL to apply to job', help: 'If the job is posted somewhere else, please provide the URL' %>

  <%= f.text_area :description, rows: 6, class: 'tinymce' %>

  <div class="row">

    <div class="col-md-6">
      <%= f.text_field :company_name %>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :country, 'Country', class: 'control-label' %>
        <%= f.country_select(:country,
                             { priority_countries: ['Lebanon',
                                                    'Egypt',
                                                    'Jordan',
                                                    'Saudi Arabia',
                                                    'Syria',
                                                    'United Arab Emirates'],
                               include_blank: 'Select country',
                               selected: @job.country },
                            { class: 'form-control' }) %>
      </div>
    </div>

    <div class="col-md-2">
      <br/>
      <%= f.check_box :remote, label: "Remote job?" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :apply_email, label: "Email to apply" %>
    </div>

    <div class="col-md-6">
      <%= f.text_field :twitter_handle, label: "Twitter Account", placeholder: "Twitter Username (i.e. MENAdevs)" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <%= f.select :employment_type, Job.employment_types.keys.map { |w| [w.humanize, w] }, {include_blank: 'Select employment type', selected: @job.employment_type} %>

      <%= f.select :education, Job.educations.keys.map { |w| [w.humanize, w] }, {label: 'Education', include_blank: 'Select education', selected: @job.education} %>

    </div>

    <div class="col-md-6">
      <%= f.select :experience, Job.experiences.keys.map { |w| [w.humanize, w] }, {label: 'Experience', include_blank: 'Select experience', selected: @job.experience} %>

      <%= f.select :number_of_openings, [1, 2, 3, 4, 5], { label: "Number of positions", include_blank: 'Select number of positions', selected: @job.number_of_openings } %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2">
      <div class="input-group">
        <%= f.number_field :from_salary, label: 'Starting salary', placeholder: 'Enter amount', help: 'Base salary' %>
      </div>
    </div> <!-- salary range -->

    <div class="col-md-2">
      <div class="input-group">
        <%= f.number_field :to_salary, label: 'To salary', placeholder: 'Enter amount', help: 'Set only if salary is a range' %>
      </div>
    </div> <!-- salary range -->

    <div class="col-md-2">
      <div class="input-group">
        <%= f.select :payment_term, Job.payment_terms.keys.map { |w| [w.humanize, w] }, {label: 'Payment term', include_blank: 'Select term', selected: @job.payment_term } %>
      </div>
    </div> <!-- salary range -->

    <div class="col-md-3">
      <%= f.select :currency, Job.all_currencies.map { |obj| [obj[:title], obj[:code]] },
                          {
                            label: 'Currency',
                            include_blank: 'Select currency',
                            selected: @job.currency
                          } %>
    </div> <!-- nb of positions -->

  </div>

  <div class="row job-form-buttons">
    <div class="col-md-12">
      <%= f.submit "Save and continue", class: "button button-3d button button-rounded button-green pull-right" %>
    </div>  <!-- /.col-md-12 -->
  </div>  <!-- /.job-form-buttons -->

<% end %>

<%= tinymce %>
