<tr>

  <td>
    <%= link_to job.title, job, class: 'link' %>
  </td>

  <td>
    <%= job.company_name %>
  </td>

  <td>
    <%= job_creator_name(job) %>
  </td>

  <td>
    <%= posted_date(job) %>
  </td>

  <td>
    <% if (authorised_job_owner?(job) && job.offline?) %>
      <%= link_to("Delete", job_path(job), class: "button button-3d button-mini button-rounded button-red fright", method: 'delete', data: { confirm: "Are you sure that you want to delete this job?" }) %>
      <%= link_to("Edit", edit_job_path(job), class: "button button-3d button-mini button-rounded button-blue fright") %>
    <% end %>
  </td>
</tr>
