<!-- Sidebar
    ============================================= -->
<% if authorised_admin? %>
  <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
    <div class="sidebar-widgets-wrap">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Job Post Actions for Admin</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <!-- Display admin actions -->
            <div class="col-lg-12">
              <%= render('admin_job_actions', job: job) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if authorised_job_owner?(job) %>
  <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
    <div class="sidebar-widgets-wrap">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Job Post Actions</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <!-- Display jow owner actions -->
            <div class="col-lg-12">
              <%= render("owner_job_actions", job: job) %>
              
              <% if job.draft? %>
                <hr/>
                <div class="button-container">
                  <%= link_to("Submit for approval", pre_approve_job_path(job), class: "button button-small button-3d button-green", method: 'put') %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if (authorised_job_owner?(job) || authorised_admin?) %>
  <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
    <div class="sidebar-widgets-wrap">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Statistics for Job Owner</h3>
          <small>Members who viewed this job post</small>
        </div>
        <div class="panel-body">
          <% if job_statistics.size > 0 %>
            <div class="button button-mini button-blue"><small style="color:white;">web</small></div>
            <hr/>
            <ul class="content-margin-left">
              <% job_statistics.each do |job_statistic| %>
                <li class="break-word"><%= link_to(visitor_name(job_statistic.user), directory_user_path(job_statistic.user)) %> x <%= job_statistic.counter %> <%= fa_icon("eye") %></li>
              <% end %>
            </ul>
          <% else %>
            No views
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- .sidebar end -->