<tr class="cart_item">

  <td class="cart-product-name">
    <%= link_to job.title, job, class: 'link' %>
  </td>

  <td class="cart-product-name">
    <%= job.company_name %>
  </td>

  <td class="cart-product-name">
    <%= job.approved? %>
  </td>

  <td class="cart-product-name">
    <%= job_invitee_name(job) %>
  </td>

  <td class="cart-product-name">
    <%= time_ago_in_words(job.created_at) %>
  </td>

  <td class="cart-product-name">
    <% if (user_signed_in? && current_user.id == job.user_id) %>
      <% if job.draft? || job.under_review? %>
        <%= link_to "Edit Job", edit_job_path(job), :class => "button button-3d button-mini button-rounded button-blue", target: '_blank' %>
      <% elsif job.approved? && current_user.admin? %>
        <%= button_to "Take down", take_down_job_path(job), class: "button button-3d button-mini button-rounded button-red", method: :put %>
      <% end %>
    <% end %>
  </td>
</tr>
