<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-12 col-xs-12 nopadding">
        <h1>Job Board - Admin view</h1>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Filter jobs helper: start -->
      <div>
        <span>Filter jobs</span> &nbsp;
        <%= link_to(list_jobs_admin_path) do %>
          <%= content_tag(:button, class: display_button_filter_class(params)) do %>
            All jobs
          <% end %>
        <% end %>

        <%= link_to(list_jobs_admin_path(state: 'pending')) do %>
          <%= content_tag(:button, class: display_button_filter_class(params, 'pending')) do %>
            All pending approval jobs
          <% end %>
        <% end %>

        <%= link_to(list_jobs_admin_path(state: 'draft')) do %>
          <%= content_tag(:button, class: display_button_filter_class(params, 'draft')) do %>
            All draft jobs
          <% end %>
        <% end %>

        <%= link_to(list_jobs_admin_path(state: 'expired')) do %>
          <%= content_tag(:button, class: display_button_filter_class(params, 'expired')) do %>
            All expired jobs
          <% end %>
        <% end %>
      </div>
      <hr/>
      <!-- Filter jobs helper: end -->

      <% if @jobs.blank? %>
        <div class="style-msg alertmsg">
          <div class="sb-msg"><i class="icon-warning-sign"></i>There are no jobs on MENAdevs at the moment</div>
        </div>
      <% else %>

        <div class="row">
          <div class="col-md-12">
            <%= render("admin_jobs_table", locals: { admin_jobs: @jobs }) %>
          </div>
        </div>

        <div class="text-center">
          <%= paginate(@jobs) %>
        </div>
      <% end %>

    </div>

  </div>

</section><!-- #content end -->
