<% provide(:title, "Job board") %>

<% if @jobs.empty? %>
  <p>There are no recent jobs on MENA Devs job board</p>
<% else %>
  <table class="table table-striped">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <h4><%= job.company_name %></h4>
          </td>
          <td>
            <h4><%= link_to job.title, job %></h4>
          </td>
          <td>
            <h4><%= job.expires_on.strftime('%e %b') %></h4>
          </td>
          <td>
            <div class="btn-group">
              <% if user_signed_in? && job.user == current_user %>
                <%= link_to edit_job_path(job), :class => "btn btn-xs btn-default" do %>
                  <%= fa_icon("pencil", :text => "Edit") %>
                <% end %>
                <%= link_to job, :class => "btn btn-xs btn-danger", :method => :delete, :data => { :confirm => "Are you sure you want to delete this job?" } do %>
                  <%= fa_icon("trash-o", :text => "Take down") %>
                <% end %>
              <% end %>
            </div>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>

<%= link_to new_job_path, :class => "btn btn-primary" do %>
  <%= fa_icon("plus", :text => "Post a Job on MENA Devs") %>
<% end %>
