<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1>Job Board</h1>
        <span class='hidden-xs'>Technical and Software Development related jobs on MENAdevs</span>
			</div>

      <div class="col-md-4 hidden-xs">
        <%= link_to(new_job_path, :class => "button button-3d notopmargin fright") do %>
          <%= fa_icon("plus", :text => "Create a new Job") %>
        <% end %>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <% if user_signed_in? %>
        <div>
          <span>Filter jobs</span> &nbsp;
          <%= link_to(jobs_path) do %>
            <%= content_tag(:button, class: display_button_filter_class(params)) do %>
              All available jobs
            <% end %>
          <% end %>

          <%= link_to(jobs_path(state: 'user')) do %>
            <%= content_tag(:button, class: display_button_filter_class(params, 'user')) do %>
              My jobs
            <% end %>
          <% end %>

          <%= link_to(jobs_path(state: 'draft')) do %>
            <%= content_tag(:button, class: display_button_filter_class(params, 'draft')) do %>
              My draft jobs
            <% end %>
          <% end %>

          <%= link_to(jobs_path(state: 'expired')) do %>
            <%= content_tag(:button, class: display_button_filter_class(params, 'expired')) do %>
              My expired jobs
            <% end %>
          <% end %>
        </div>
        <hr/>
      <% end %><!-- Filter jobs helper -->

      <% if @jobs.blank? %>

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="icon-warning-sign"></i>No jobs were found
        </div>

      <% else %>
        <div class="row">
          <div class="col-md-12">
            <%= render("jobs_table", locals: { jobs: @jobs }) %>
          </div>
        </div>

        <div class="text-center">
          <%= paginate(@jobs) %>
        </div>
      <% end %>
    </div>
  </div>

</section><!-- #content end -->