<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1>Job Board</h1>
        <span class='hidden-xs'>Technical and Software Development related jobs on MENAdevs</span>
			</div>

      <div class="col-md-4 hidden-xs">
        <%= link_to new_job_path, :class => "button button-3d notopmargin fright" do %>
          <%= fa_icon("plus", :text => "Post a Job") %>
        <% end %>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <% if @jobs.blank? %>

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="icon-warning-sign"></i>There are no jobs on MENAdevs at the moment
        </div>

      <% else %>

        <div class="row">
          <div class="col-md-12">
            <%= render "jobs_table", locals: { jobs: @jobs } %>
          </div>
        </div>

        <div class="text-center">
          <%= paginate @jobs %>
        </div>
      <% end %>
    </div>
  </div>

</section><!-- #content end -->