<section id="page-title">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1><%= @job.title %></h1>
        <h2><%= @job.company_name %> <%= location_str(@job) %></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-actions">
  <div class="container">
    <div class="row">
      <% if (authorised_job_owner?(@job) || authorised_admin?) %>
        <%= render('job_status_progress_bar', job: @job) %>
      <% end %>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <!-- Post Content
        ============================================= -->
      <div class="postcontent nobottommargin">
        <div class="single-post nobottommargin">
          <!-- Single Post
            ============================================= -->
          <div class="entry clearfix">
            <!-- Entry Meta
              ============================================= -->
            <h4>Posted <%= posted_date(@job) %></h4>
            <h5>By <%= job_creator_name(@job) %></h5>
            <!-- .entry-meta end -->

            <!-- Entry Content
              ============================================= -->
            <div class="entry-content notopmargin">
              <span class="label label-primary"><%= @job.employment_type.try(:humanize) %></span>

              <span class="label label-primary"><%= @job.experience.try(:humanize) %></span>

              <span class="label label-primary">Equity or stock options: <%= @job.equity? ? 'Yes' : 'No' %></span>

              <span class="label label-primary">Remote: <%= @job.remote? ? 'Yes' : 'No' %></span>
              <p>
                <span class="label label-success"><%= @job.salary_to_s %></span>
              </p>

              <div class="job-description">
                <% if @job.description.blank? %>
                  No job details yet, please make sure that you have a valid job description before submitting this job for approval.
                <% else %>
                  <%=raw @job.description.html_safe %>
                <% end %>
              </div>
            </div>
            <!-- .entry-content end -->
          </div>
        </div>

              <!-- .actions starts -->
        <% if @job.online? %>
          <div class="job-post-user-actions">
            <div class="col-md-6 col-xs-12">
              <%= link_to("Apply for this position", @job.external_link, class: "button button-3d", target: "_blank") %>

              <%# unless @job.apply_email.blank? %>
                <%= mail_to(@job.apply_email, "Apply for this position via email", class: "button button-3d button-yellow button-mini", target: "_blank") %>
              <%# end %>
            </div>

            <div class="col-md-6 col-xs-12" style="text-align:right">
              <p style="margin:0px;">Share this job:</p>
              <%= link_to("mailto:?subject=Job on MENAdevs&body=Hi, you might be interested in this job I found on MENAdevs #{job_url(@job)}") do %>
                <%= fa_icon("inbox 2x") %>
              <% end %>
              &nbsp;
              <%= link_to("https://twitter.com/intent/tweet?" + @job.to_text_for_twitter, target: "_blank") do %>
                <%= fa_icon("twitter 2x") %>
              <% end %>
            </div>
          </div>
        <% end %>
      <!-- .actions end -->
      </div>

      <%= render('job_sidebar', job: @job, job_statistics: @job_statistics) %>

    </div>
  </div>
</section>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "<%= @job.title %>",
}
</script>