<section id="page-title">
  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1><%= @job.title %></h1>
      </div>
    </div>
  </div>
</section>

<section class="page-actions">
  <div class="container">
    <div class="row">
      <% if (authorised_job_owner?(@job) || authorised_admin?) %>
        <%= render('job_status_progress_bar', job: @job) %>
      <% end %>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <!-- Post Content
        ============================================= -->
      <div class="postcontent nobottommargin">
        <div class="single-post nobottommargin">
          <!-- Single Post
            ============================================= -->
          <div class="entry clearfix">
            <!-- Entry Meta
              ============================================= -->
            <h4>Posted <%= posted_date(@job) %></h4>
            <h5>By <%= job_creator_name(@job) %></h5>
            <!-- .entry-meta end -->

            <!-- Entry Content
              ============================================= -->
            <div class="entry-content notopmargin">
              <span class="label label-primary lb-md"><%= @job.employment_type.try(:humanize) %></span>

              <span class="label label-primary lb-md"><%= @job.experience.try(:humanize) %></span>

              <span class="label label-primary lb-md">Equity or stock options: <%= @job.equity? ? 'Yes' : 'No' %></span>

              <span class="label label-primary lb-md">Remote: <%= @job.remote? ? 'Yes' : 'No' %></span>
              
              <span class="label label-success lb-md"><%= @job.salary_to_s %></span>

              <div class="job-description">
                <% if @job.description.blank? %>
                  No job details yet, please make sure that you have a valid job description before submitting this job for approval.
                <% else %>
                  <%= sanitize @job.description.html_safe %>
                <% end %>
              </div>
            </div>
            <!-- .entry-content end -->
          </div>
        </div>
      </div>

      <%= render('job_info_sidebar', job: @job) %>

      <%= render('job_actions_sidebar', job: @job, job_statistics: @job_statistics) %>
    </div>
  </div>
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "JobPosting",
  "baseSalary": "<%= @job.from_salary %>",
  "datePosted": <% if @job.posted_on %>"<%= @job.posted_on.strftime('%Y-%m-%d') %>"<% end %>,
  "validThrough": <% if @job.expires_on %>"<%= @job.expires_on.strftime('%Y-%m-%d') %>"<% end %>,
  "description": "<%= @job.description %>",
  "educationRequirements": "<%= @job.education %>",
  "employmentType": "<%= @job.employment_type %>",
  "experienceRequirements": "<%= @job.experience %>",
  "incentiveCompensation": "<%= @job.equity %>",
  "industry": "Computer Software",
  "hiringOrganization": "<%= @job.company_name %>",
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "Text",
      "addressCountry": "<%= @job.location_name %>"
    }
  },
  "occupationalCategory": "15-1132.00 Software Developers, Application",
  "qualifications": "Ability to work in a team environment with members of varying skill levels. Highly motivated. Learns quickly.",
  "responsibilities": "Design and write specifications for tools for in-house customers Build tools according to specifications",
  "salaryCurrency": "<%= @job.currency %>",
  "title": "<%= @job.title %>"
}
</script>