<% provide(:title) do %>
  <h3><%= @job.title.humanize %></h3>
  <small>Posted on <%= @job.posted_on.strftime('%A %e %B %Y ') %></small>
<% end %>

<div class='row'>
  <div class='col-md-9'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= @job.company_name.humanize %></h4>
        <div>
          <p><%= @job.location_name %> <%= @job.remote_ok? ? '- Remote OK' : '' %></p>
        </div>
      </div>
      <div class="panel-body">
        <%= @job.description %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <% if (user_signed_in? && current_user.id == @job.user_id) %>
      <% if @job.draft? || @job.under_review? %>
        <%= link_to edit_job_path(@job), :class => "btn btn-primary btn-lg btn-block", target: '_blank' do %>
          Edit job post
        <% end %>
      <% elsif @job.approved? %>
        <%= link_to take_down_job_path(@job), class: "btn btn-danger btn-lg btn-block", method: :put do %>
          Take down
        <% end %>
      <% end %>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <% if @job.under_review? %>
        <%= link_to approve_job_path(@job), class: "btn btn-warning btn-lg btn-block", method: :put do %>
          Approve
        <% end %>
      <% elsif @job.approved? %>
        <%= link_to take_down_job_path(@job), class: "btn btn-warning btn-lg btn-block", method: :put do %>
          Take down
        <% end %>
      <% end %>
    <% end %>

    <%= link_to @job.job_description_location, :class => "btn btn-success btn-lg btn-block", target: '_blank' do %>
      Visit page to apply
    <% end %>
    <br/>
    <div class="panel panel-default">
      <div class="panel-heading">Details</div>
      <div class="panel-body">
        <p>
          <strong>Posted by</strong><br/>
          <%= @job.user.try(:name) %>
        </p>
        <p>
          <strong>Apply via email</strong><br/>
          <%= link_to @job.apply_email, "mailto:#{@job.apply_email}" %>
        </p>
        <p>
          <strong>Job type</strong><br/>
          <%= @job.job_type.try(:humanize) %>
        </p>
        <p>
          <strong>Experience level</strong><br/>
          <%= @job.level.try(:humanize) %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <%= fa_icon("envelope") %>
          <%= link_to "mailto:?subject=Job on MENAdevs&body=Hi, you might be interested in this job I found on MENAdevs #{job_url(@job)}" do %>
            Tell a friend
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<p>
  <%= link_to "Back to all Jobs", jobs_path, :class => "btn btn-default" %>
</p>
