<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1><%= @job.title %></h1>
        <h2><%= @job.company_name %> <%= location_str(@job) %></h2>
      </div>

      <div class="col-md-4 nopadding fright hidden-xs">
        <% if (user_signed_in? && current_user.id == @job.user_id) %>

          <% if (@job.draft? || @job.under_review? || current_user.admin?) %>
            <% if @job.draft? %>
              <%= link_to "Submit for approval", pre_approve_job_path(@job), class: "button button-3d notopmargin fright button-blue", method: :put %>
            <% elsif @job.under_review? %>
              <div class="button button-3d notopmargin fright button-blue">
                Awaiting approval
              </div>
            <% end %>
            <%= link_to "Edit", edit_job_path(@job), class: "button button-3d notopmargin fright" %>
          <% elsif @job.approved? && current_user.admin? %>
            <div class="button button-3d notopmargin fright button-blue">
              Approved
            </div>

            <%= button_to "Take down", take_down_job_path(@job), class: "button button-3d notopmargin fright", method: :put %>
          <% end %>
        <% end %>

        <% if (user_signed_in? && current_user.admin?) %>
          <% if @job.under_review? || @job.draft? %>
            <%= button_to "Approve (as admin)", approve_job_path(@job), class: "button button-3d notopmargin fright", method: :put %>
          <% elsif @job.approved? %>
            <%= button_to "Take down (as admin)", take_down_job_path(@job), class: "button button-3d notopmargin fright", method: :put %>
          <% elsif @job.disabled? %>
            <%= button_to "Publish (as admin)", publish_job_path(@job), class: "button button-3d notopmargin fright", method: :put %>
          <% end %>
        <% end %>

        <% unless (user_signed_in? && current_user.id == @job.user_id) %>
          <%= link_to "Visit page to apply", @job.external_link, class: "button button-3d notopmargin fright hidden-xs", target: '_blank' %>
        <% end %>
      </div>

      <!-- Mobile friendly interface -->
      <div class="col-md-12 nopadding visible-xs">
        <%= link_to "Visit page to apply", @job.external_link, class: "button button-3d", target: '_blank' %>
      </div>
    </div>

  </div>
</section>

<%= content_for :flash %>

<section id="content" style="margin-bottom: 0px;">

  <div class="content-wrap">

    <div class="container clearfix">
      <!-- Post Content
        ============================================= -->
      <div class="postcontent nobottommargin">

        <div class="single-post nobottommargin">

          <!-- Single Post
            ============================================= -->
          <div class="entry clearfix">

            <!-- Entry Meta
              ============================================= -->
            <ul class="entry-meta clearfix">
              <li>
                <i class="icon-calendar3"></i>
                Posted on:
                <%= posted_date(@job) %>
              </li>
              <li>
                <i class="icon-user"></i>
                By:
                <%= job_creator_name(@job) %>
              </li>
            </ul>
            <!-- .entry-meta end -->

            <!-- Entry Content
              ============================================= -->
            <div class="entry-content notopmargin">

              <ul style='margin-left: 26px'>
                <li>
                  <i class="icon-briefcase"></i>
                  Employment type: <%= @job.employment_type.try(:humanize) %>
                </li>

                <li>
                  <i class="icon-users"></i>
                  Experience: <%= @job.experience.try(:humanize) %>
                </li>

                <li>
                  <i class="icon-money"></i>
                  Salary: <%= @job.salary_to_s %>
                </li>

                <li>
                  <i class="icon-plane"></i>
                  Remote: <%= @job.remote? ? 'Yes' : 'No' %>
                </li>

                <% unless @job.apply_email.blank? %>
                  <li>
                    <i class="icon-email"></i>
                    Email: <%= @job.apply_email %>
                  </li>
                <% end %>
              </ul>
              <% unless @job.description.blank? %>
                <hr/>
                <p>
                  <%=raw @job.description.html_safe %>
                </p>
              <% end %>
            </div>
            <!-- .entry-content end -->
          </div>
        </div>
      </div>

      <!-- Sidebar
          ============================================= -->
      <% if @job.approved? %>
        <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
          <div class="sidebar-widgets-wrap fright">
            <%= link_to "mailto:?subject=Job on MENAdevs&body=Hi, you might be interested in this job I found on MENAdevs #{job_url(@job)}", class: "button button-3d button-rounded button-aqua fright" do %>
              <%= fa_icon("inbox") %>
              Tell a friend
            <% end %>
          </div>

        </div>
      <% end %>
      <!-- .sidebar end -->
    </div>
  </div>
</section>
