<p>Hello,</p>

<p>An invitation to join the Slack group has been resent.</p>

<strong>Sender details:</strong>

<ul>
  <li><%= @invitation.user.name.humanize %> - <%= @invitation.user.email %></li>
</ul>

<strong>Receiver details:</strong>

<ul>
  <% if @invitation.invitee_company %>
    <li>Company: <%= @invitation.invitee_company %></li>
  <% end %>

  <% if @invitation.invitee_title %>
    <li>Title: <%= @invitation.invitee_title %></li>
  <% end %>

  <% if @invitation.invitee_name %>
    <li>Name: <%= @invitation.invitee_name %></li>
  <% end %>

  <% if @invitation.invitee_email %>
    <li>Email: <%= @invitation.invitee_email %></li>
  <% end %>

  <% if @invitation.invitee_location %>
    <li>Location: <%= @invitation.invitee_location %></li>
  <% end %>

  <% if @invitation.invitee_introduction %>
    <li>Introduction: <%= @invitation.invitee_introduction %></li>
  <% end %>
</ul>

<p>MENAdevs</p>
