<div class='navbar navbar-default navbar-static-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to(image_tag('mena_devs_logo_sm', alt: 'Mena Devs'),
                  root_path, :class => 'navbar-brand') %>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <%= navbar_link_to('About us',
                           about_path,
                           :active_when => { controller: 'home',
                                             action: 'about' }) %>
        <%= content_tag(:li, class: 'dropdown') do %>
          <%= link_to('#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}) do %>
            Slack Group
            <%= fa_icon('caret-down') %>
          <% end %>
          <%= content_tag(:ul, class: 'dropdown-menu') do %>
            <%= content_tag(:li) do %>
              <%= navbar_link_to('Invitations',
                                new_invitation_path,
                                :active_when => { controller: 'invitations' }) %>
            <% end %>
            <%= content_tag(:li) do %>
              <%= navbar_link_to('Code of Conduct',
                                'https://github.com/mena-devs/code-of-conduct',
                                target: '_blank') %>
            <% end %>
          <% end %>
        <% end %>

        <%= content_tag(:li) do %>
          <%= navbar_link_to('Contact',
                             contact_path,
                             :active_when => { controller: 'home',
                                              action: 'contact'}) %>
        <% end %>

        <%= content_tag(:li, class: 'dropdown') do %>
          <%= link_to 'Job posts', '#' %>
        <% end %>

        <% if user_signed_in? %>
          <%= content_tag(:li, class: 'dropdown') do %>
            <%= link_to 'Directory', '#' %>
          <% end %>
        <% end %>
      </ul>

      <%= content_tag(:ul, class: 'nav navbar-nav navbar-right') do %>
        <% if !user_signed_in? %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% else %>
          <%= content_tag(:li) do %>
            <%= link_to 'My profile', user_profile_path(current_user) %>
          <% end %>
          <%= content_tag(:li) do %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% end %>
        <% end %>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</div>
