<% provide(:title, "Contact us") %>

<div>
  <%= fa_icon('envelope') %>
  &nbsp;
  <%= link_to('info@menadevs.com', 'mailto:info@menadevs.com') %>
</div>

<div>
  <%= fa_icon('twitter') %>
  &nbsp;
  <%= link_to('twitter.com/menadevs',
              'https://twitter.com/menadevs',
              target: '_blank') %>
</div>

<div>
  <%= fa_icon('github') %>
  &nbsp;
  <%= link_to('github.com/menadevs',
              'https://github.com/menadevs',
              target: '_blank') %>
</div>
