<%= bootstrap_form_for(@invitation) do |f| %>

  <%= f.alert_message "Please review the problems below:" %>

  <%= f.text_field :invitee_name, label: 'Full Name' %>
  <%= f.text_field :invitee_email, label: 'Email' %>
  <%= f.text_field :invitee_title, label: 'Title' %>
  <%= f.text_field :invitee_company, label: 'Company' %>
  <%= f.text_area :invitee_introduction, label: 'Write a brief introduction about the person you are inviting' %>
  <div class="form-group">
    <label class="control-label" for="invitation_invitee_location">Location</label>
    <%= country_select("invitation",
                       "invitee_location",
                       { include_blank: 'Select' }, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.check_box :code_of_conduct, label: "I have read and agree with MENAdevs Code of Conduct" %>
    <%= link_to 'Read here: Code of Conduct',
                'https://github.com/mena-devs/code-of-conduct',
                target: '_blank',
                class: 'help-block' %>
  </div>


  <%= f.primary 'Send invitation', name: 'tab-2' %>
  <%= link_to "Back", invitations_path, :class => "btn btn-link" %>

<% end %>
