<tr>
  <td>
    <%= invitation.invitee_name %>
  </td>
  <td>
    <%= invitation.invitee_email %>
  </td>
  <td>
    <%= display_invitation_state(invitation) %>
  </td>
  <td>
    <%= invitation.created_at.strftime("%d %b %Y") %>
  </td>
  <td>
    <%= link_to("More details", invitation, class: "button button-3d button-mini button-rounded button-green") %>
  </td>
</tr>
