<tr>
  <td><%= invitation.invitee_name %></td>
  <td>
    <%= invitation.invitee_email %>
    <% if invitation.invitee_email == current_user.email %>
      &nbsp;
      <%= fa_icon("check", text: "me") %>
    <% end %>
  </td>
  <td><%= invitation.invitee_location_name %></td>
  <td>
    <%= invitation.created_at.strftime("%d %b %Y") %>
  </td>
</tr>
