<% provide(:title, "Sent invitations") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Invitee name</th>
      <th>Invitee email</th>
      <th>Invitee location</th>
      <th>Sent on</th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.invitee_name %></td>
        <td>
          <%= invitation.invitee_email %>
          <% if invitation.invitee_email == current_user.email %>
            <div class="btn btn-xs btn-primary">
              <%= fa_icon("check") %>
              me
            </div>
          <% end %>
        </td>
        <td><%= invitation.invitee_location %></td>
        <td>
          <%= invitation.created_at.strftime("%d %b %Y") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
