<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
  <!-- Page Title
  ============================================= -->
  <section id="page-title">

    <div class="container clearfix">
			<div class="col-md-8 col-xs-12">
				<h1>Slack Group sent invitations</h1>
				<span class='hidden-xs'>Invitations sent to contacts to join MENAdevs Slack Group</span>
			</div>

			<div class="col-md-4 hidden-xs">
				<%= link_to new_invitation_path, :class => "button button-3d notopmargin fright" do %>
					<%= fa_icon("plus", :text => "Invite") %>
				<% end %>
			</div>
    </div>

  </section><!-- #page-title end -->

  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">

        <div class="table-responsive">
          <% if @invitations.blank? %>
            <div class="style-msg alertmsg">
              <div class="sb-msg"><i class="icon-warning-sign"></i>You have sent 0 invitations</div>
            </div>
          <% else %>
            <table id="invitations-datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Location</th>
									<th>State</th>
									<th>Retries</th>
                  <th>Sent on</th>
									<th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "invitation", collection: @invitations %>

                <%= paginate @invitations %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </section><!-- #content end -->
</div>

<!-- Bootstrap Data Table Plugin -->
<%= javascript_include_tag "components/bs-datatable.js", "data-turbolinks-track" => false  %>
<%= stylesheet_link_tag('bs-datatable', media: 'all',
												'data-turbolinks-track': false) %>

<script>

  $(document).ready(function() {
    $('#invitations-datatable').dataTable();
  });

</script>
