<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12 nopadding">
        <h1>Slack Group invitations</h1>
        <span class='hidden-xs'>Invitations sent to your contacts</span>
      </div>

      <div class="col-md-4 hidden-xs">
        <%= link_to new_invitation_path, :class => "button button-3d notopmargin fright" do %>
          <%= fa_icon("plus", :text => "New invitation") %>
        <% end %>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= render('shared/flash') %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="table-responsive">
        <% if @invitations.blank? %>

          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="icon-warning-sign"></i>You have sent 0 invitations
          </div>

        <% else %>
          <table id="invitations-datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <% if authorised_admin? %>
                  <th>&nbsp;</th>
                <% end %>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%= render(partial: "invitation", collection: @invitations) %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="center">
        <%= paginate @invitations %>
      </div>
    </div>
  </div>
</section><!-- #content end -->