<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">
      <div class="col-md-8 col-xs-12">
        <h1>Invitations</h1>
        <span class='hidden-xs'>Slack Group invitations sent to your contacts</span>
      </div>

      <div class="col-md-4 hidden-xs">
        <%= link_to new_invitation_path, :class => "button button-3d notopmargin fright" do %>
          <%= fa_icon("plus", :text => "New invitation") %>
        <% end %>
      </div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= render('shared/flash') %>

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <% if @invitations.blank? %>

        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <i class="icon-warning-sign"></i>You have sent 0 invitations
        </div>

      <% else %>

        <div class="row">
          <div class="col-md-12">
            
            <div class="content-maring-left">
              <%= link_to(invitations_path) do %>
                <%= content_tag(:button, class: display_button_filter_class(params)) do %>
                  All invitations
                <% end %>
              <% end %>

              <%= link_to(invitations_path(state: 'accepted')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'accepted')) do %>
                  Accepted
                <% end %>
              <% end %>

              <%= link_to(invitations_path(state: 'pending')) do %>
                <%= content_tag(:button, class: display_button_filter_class(params, 'pending')) do %>
                  Pending
                <% end %>
              <% end %>
            </div>

            <div class="table-responsive bottommargin">
              <table class="table table-striped">
                <tr>
                  <th>Invitee Name</th>
                  <th>Invitee Email</th>
                  <th>Invitation Status</th>
                  <th>Sent on</th>
                  <th>&nbsp;</th>
                </tr>
            
                <tbody>
                  <%= render(partial: "invitation", collection: @invitations) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>

      <!-- pagination -->
      <div class="center">
        <%= paginate @invitations %>
      </div>
    </div>
  </div>
</section><!-- #content end -->