<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <div class="row clearfix">  
      <div class="col-md-8 col-xs-12 nopadding">
        <h1>Invitee details</h1>
      </div>

      <div class="col-md-4 hidden-xs"></div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin">
        <div class="table-responsive">
          <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <th width="40%">Who sent the invitation?</th>
                <td><%= @invitation.user.name %></td>
              </tr>
              <tr>
                <th>Updated on</th>
                <td><%= @invitation.updated_at.strftime("%d %b %Y") %></td>
              </tr>
              <tr>
                <th>Sent to name</th>
                <td><%= @invitation.invitee_name %></td>
              </tr>
              <tr>
                <th>Sent to email address</th>
                <td><%= @invitation.invitee_email %></td>
              </tr>
              <tr>
                <th>The introduction that you wrote</th>
                <td><%= @invitation.invitee_introduction %></td>
              </tr>
              <tr>
                <th>Job title / Occupation</th>
                <td><%= @invitation.invitee_title %></td>
              </tr>
              <tr>
                <th>Company name</th>
                <td><%= @invitation.invitee_company %></td>
              </tr>
              <tr>
                <th>Location</th>
                <td><%= @invitation.location_name %></td>
              </tr>
              <tr>
                <th>Is the invitee a member of this platform?</th>
                <td><%= @invitation.registered? %></td>
              </tr>
              <tr>
                <th>State of this invitation</th>
                <td><%= display_invitation_state(@invitation) %></td>
              </tr>
              <tr>
                <th>Number of retries?</th>
                <td><%= @invitation.retries %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
        <div class="sidebar-widgets-wrap">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Actions</h3>
            </div>

            <div class="panel-body">
              <div>
                <%= link_to("Back to invitations", invitations_path, class: "button button-3d notopmargin") %>
              </div>
              <br/>
              <div>
                <%= button_to('Resend', resend_invitation_path(@invitation), class: "button button-3d notopmargin button-green", method: :put) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Admin actions begins -->
      <% if authorised_admin? %>
        <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
          <div class="sidebar-widgets-wrap">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Actions for admins</h3>
              </div>

              <div class="panel-body">
                <div>
                  <%= link_to("All Invitations", list_invitations_admin_path, class: "button button-3d notopmargin") %>
                </div>
                <br/>
                <div>
                  <%= button_to('Approve', approve_invitation_path(@invitation), class: "button button-3d notopmargin button-green", method: :put) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Admin actions ends -->
    </div>
  </div>
</section><!-- #content end -->