<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
<!-- Page Title
============================================= -->
  <section id="page-title">

    <div class="container clearfix">
      <div class="col-md-8 col-xs-12">
				<h1>Invitee details</h1>
			</div>

			<div class="col-md-4 hidden-xs">
				<%= link_to invitations_path, :class => "button button-3d notopmargin button-brown fright" do %>
					<%= fa_icon("arrow-left", :text => "Back") %>
				<% end %>
			</div>
    </div>

  </section><!-- #page-title end -->

  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">
        <p>
          <strong><%= @invitation.user.name %></strong> invited the following member:
        </p>

        <div class="row clearfix">
          <div class="col-md-2">
            Full name:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.invitee_name %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            Email address:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.invitee_email %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            Introduction:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.invitee_introduction %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            Job title:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.invitee_title %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            Company name:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.invitee_company %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-2">
            Location:
          </div>

          <div class="col-md-10">
            <div class="heading-block noborder">
              <%= @invitation.location_name %>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-4">
            Was the invitation sent?
          </div>

          <div class="col-md-2">
            <div class="heading-block noborder">
              <%= @invitation.delivered? %>
            </div>
          </div>

          <div class="col-md-4">
            Did the person join the platform?
          </div>

          <div class="col-md-2">
            <div class="heading-block noborder">
              <%= @invitation.registered? %>
            </div>
          </div>
        </div>

        <!-- Admin actions begins -->
        <% if user_signed_in? && current_user.admin? %>
          <div class="row">
            <div class="container">
              <div class="col-md-3"></div>
              <div class="col-md-3 col-xs-12 center">
                <%= link_to approve_invitation_path(@invitation), :class => "button button-3d notopmargin button-green", method: :put do %>
                  <%= fa_icon("check-square", :text => "Approve") %>
                <% end %>
              </div>
              <div class="col-md-3 col-xs-12 center">
                <%= link_to resend_invitation_path(@invitation), :class => "button button-3d notopmargin button-blue", method: :put do %>
        					<%= fa_icon("refresh", :text => "Resend") %>
        				<% end %>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        <% end %>
        <!-- Admin actions ends -->
      </div>
    </div>
  </section><!-- #content end -->
</div>
