<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix nopadding">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <h1>Invitee details</h1>
        <span class='hidden-xs'>Slack Group invitations</span>
      </div>

      <div class="col-md-4 hidden-xs"></div>
    </div>
  </div>

</section><!-- #page-title end -->

<%= content_for :flash %>

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix nopadding">

      <div class="postcontent">

        <div class="table-responsive bottommargin">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th width="40%">Member who sent the invitation</th>
                <td><%= link_to(@invitation.user.name, directory_user_path(@invitation.user)) %></td>
              </tr>
              <tr>
                <th>Invitation created on</th>
                <td><%= @invitation.created_at.strftime("%d %b %Y") %></td>
              </tr>
              <tr>
                <th>Invitation updated on (i.e. approved, accepted)</th>
                <td><%= @invitation.updated_at.strftime("%d %b %Y") %></td>
              </tr>
              <tr>
                <th>Invitee name</th>
                <td><%= @invitation.invitee_name %></td>
              </tr>
              <tr>
                <th>Invitee email address</th>
                <td><%= display_tilde_member(@invitation) %></td>
              </tr>
              <tr>
                <th>Introduction that you wrote about the invitee</th>
                <td><%= @invitation.invitee_introduction %></td>
              </tr>
              <tr>
                <th>Job title / Occupation</th>
                <td><%= @invitation.invitee_title %></td>
              </tr>
              <tr>
                <th>Company name</th>
                <td><%= @invitation.invitee_company %></td>
              </tr>
              <tr>
                <th>Invitee location</th>
                <td><%= @invitation.location_name %></td>
              </tr>
              <tr>
                <th>Is the invitee a member of Tilde?</th>
                <td><%= display_tilde_membership(@invitation) %></td>
              </tr>
              <tr>
                <th>State of this invitation</th>
                <td><%= display_invitation_state(@invitation) %></td>
              </tr>
              <tr>
                <th>Number of times this invitation has been sent</th>
                <td><%= @invitation.retries %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
        <div class="sidebar-widgets-wrap">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Actions</h3>
            </div>

            <div class="panel-body">
              <%= link_to('Back to all invitations', invitations_path, class: "button button-3d button-mini button-rounded") %>

              <% if !@invitation.accepted? %>
                <%= link_to('Resend', resend_invitation_path(@invitation), class: "button button-3d button-mini button-rounded button-green", method: :put) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Admin actions begins -->
      <% if authorised_admin? %>
        <div class="sidebar nobottommargin col_last clearfix visible-lg visible-md">
          <div class="sidebar-widgets-wrap">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Actions [for Admins]</h3>
              </div>

              <div class="panel-body">
                <%= link_to("All invitations", list_invitations_admin_path, class: "button button-3d button-mini button-rounded") %>
                <%= link_to('Approve', approve_invitation_path(@invitation), class: "button button-3d button-mini button-rounded button-green", method: :put) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Admin actions ends -->
    </div>
  </div>
</section><!-- #content end -->