<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <% if !user_signed_in? %>
    <%= yield(:slider) %>
  <% end %>

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo">
          <%= link_to(image_tag('menadevs_logo.png'),
                      root_url, :class => 'standard-logo') %>

          <%= link_to(image_tag('menadevs_logo@2x.png'),
                      root_url, :class => 'retina-logo') %>
        </div>

        <%= render("shared/navbar") %>

      </div>

    </div>

  </header>

  <div class="clear"></div>

  <%= render("shared/flash") %>

  <%= yield %>

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <%= render("shared/footer") %>

    <div>

  </footer>

</div>

<div id="gotoTop" class="icon-angle-up"></div>

<% if Rails.env.production? %>
  <%= render("shared/analytics") %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_async_tag('plugins.js',
                                    'data-turbolinks-track': false) %>
  <%= javascript_include_async_tag('functions.js',
                                    'data-turbolinks-track': false) %>
<% end %>

<% parent_layout "base" %>
