<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo">
          <%= link_to(image_tag('menadevs_logo.png'),
                      root_url, :class => 'standard-logo') %>

          <%= link_to(image_tag('menadevs_logo@2x.png'),
                      root_url, :class => 'retina-logo') %>
        </div>

        <%= render("shared/navbar") %>

      </div>

    </div>

  </header>

  <%# render("shared/slider") %>

  <%= render("shared/flash") %>

  <%= yield %>


  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <%= render("shared/footer") %>

    <div>

  </footer>

</div>

<div id="gotoTop" class="icon-angle-up"></div>

<% if Rails.env.production? %>
  <%= render("shared/analytics") %>
<% end %>

<% parent_layout "base" %>
