<%# The 'base' layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

    <%= csrf_meta_tags %>

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag('application',
                            media: 'all',
                            'data-turbolinks-track': false) %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>

    <%= javascript_include_tag('application',
                               'data-turbolinks-track': false) %>

    <%= yield(:head) %>

    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name='apple-mobile-web-app-title' content='MENAdevs'>

    <title>
      <%= strip_tags(yield(:title)) + ' – ' if content_for?(:title) %>
      MENAdevs.com
    </title>
  </head>
  <body class="stretched no-transition">

    <%= yield %>

  </body>
</html>
