<% provide(:title) do %>
  <%= @user.name.titleize %>
<% end %>

<%= content_for :flash %>

<div class="row">
  <div class="col-md-1">
    <%= image_tag(@user.profile.avatar.url(:thumb),
                  size: '100x100',
                  class: 'img-thumbnail') %>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <%= fa_icon("user") %>
            <% if @user.profile.biography.blank? %>
              Biography not available
            <% else %>
              <%= @user.profile.biography %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= fa_icon("envelope") %>
            <%= link_to @user.email, "mailto:#{@user.email}" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= fa_icon("map-marker") %>
            <%= @user.profile.location_name %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn btn-xs btn-default">
              <%= fa_icon("user-circle-o") %>
              <%= is_user_a_slack_member?(@user.connected_via_slack?) %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <p> -->
      <%# link_to "Back to directory", directory_users_path, :class => "btn btn-default" %>
    <!-- </p> -->
    <p>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to "Update profile details & preferences", edit_user_profile_path(current_user), :class => "btn btn-success" %>
      <% end %>
    </p>

  </div>
</div>
